.form {
  padding: 20px;

  &__error-field {
    color: red;
    font-size: 12px;
  }

  &__nested-wrapper {
    &__form-fields {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      div > input {
        width: 100%;
      }
    }
  }
  &__array-fields__wrapper{
    button{
      margin: 10px 0;
    }
    &__fields{
      row-gap: 10px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
    }
  }
}
