{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "ignorePatterns": ["node_modules", "build", "generateVersionFile.cjs"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "react",
    "import",
    "@typescript-eslint",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "import/default": "off",
    "import/no-named-as-default":"off",
    "prettier/prettier": "off",
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": 0,
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "never"],
    "@typescript-eslint/no-unused-vars": ["off"],
    "@typescript-eslint/no-explicit-any": ["off", null],
    "@typescript-eslint/no-non-null-assertion": ["off"],
    "import/no-unresolved": "error",
    "no-unused-vars": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
